<div class="formEmail">
    <h2 class="contactText">Contact</h2>
    <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Subject">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Your message"></textarea>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Phone">
    </mat-form-field>

    <button class="buttonSend" mat-raised-button color="primary">Send</button>
</div>

  
  