

<mat-toolbar color="primary">  

    <mat-toolbar-row >
      <span >Málaga - Spain</span>
      <span class = "filler"></span>

      <a type="button" mdbBtn floating="true" size="lg" color="li" 
      class=" waves-light" mdbWavesEffect href="https://www.linkedin.com/in/%C3%A1lvaro-dom%C3%ADnguez-calvo-a415b9108/">
      <mdb-icon fab icon="linkedin-in"></mdb-icon></a>

      <a type="button" mdbBtn floating="true" size="lg" color="git" 
      class="  waves-light" mdbWavesEffect href = "https://github.com/zer0Percent"><mdb-icon fab icon="github"></mdb-icon></a>

    </mat-toolbar-row>
    
</mat-toolbar>


