

  .header{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
 }


 .photoMain{
  margin:auto;

 }

 .contactForm{
  margin:auto;
}
 .footerC{
  position: relative;
  top:  100%;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

