@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family: 'Noto Sans, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

$my-theme-primary: mat-palette($mat-indigo, 900);
$my-theme-accent:  mat-palette($mat-green, A200, A100, A400);
$my-theme-warn:  mat-palette($mat-red);


$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
@include angular-material-theme($my-theme);